body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('assets/header-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

:root{
    --shadow: 3px 3px 3px black;
    --shadow-small: 2px 2px 2px black;
}

.header {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 15rem;
    justify-content: center;
    align-items: center;
    
}

#calculator {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Añade espacio entre las secciones */
}

#display {
    background-color: #4f4f4f;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 35rem;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    grid-template-rows: repeat(1,auto);
    box-shadow: var(--shadow);

}

#display p {
    color: #E5C750;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: var(--shadow-small);
}

#display span {
    color: white;
    font-family: "Oswald", sans-serif;
    text-shadow: var(--shadow-small);
}

#product-list {
    background-color: #4f4f4f;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 20rem;
    height: 8rem;
    display: grid;
    grid-template-columns: 1fr; /* Una columna para el título */
    grid-template-rows: auto 1fr; /* Auto para el título, 1fr para los productos */
    box-shadow: var(--shadow);
    margin-left: 1rem;
    justify-content: space-between;
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    text-align: start; /* Centrar el texto del título */
    
}

#product-list h1 {
    color: #E5C750;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 0.2rem; /* Añadir margen debajo del título */
    text-align: center; /* Asegurar que el título esté centrado */
    flex-shrink: 0; /* Prevenir que el h1 se reduzca */
    text-shadow: var(--shadow-small);
}

#product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    gap: 10px; /* Espacio entre los elementos de la cuadrícula */
}

#product-container p {
    font-size: 0.8rem;
    color: white;
    font-family: "Oswald", sans-serif;
    flex-shrink: 0; /* Prevenir que los párrafos se reduzcan */
    text-align: left; /* Alineación a la izquierda para los productos */
    text-shadow: var(--shadow);
    padding: 0;
    margin: 0;
}



.alcohol, .non-alcohol, .food, .cocktails, .special {
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Añade espacio entre los botones */
    box-shadow: var(--shadow);
}

/* Estilo para el contenedor del producto y el botón x5 */
.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px; /* Espacio entre el producto y el botón x5 */
    margin-bottom: 10px; /* Espacio debajo de cada producto */
}


.x5 {
    padding: 5px;
    font-size: 1rem; /* Tamaño de fuente más pequeño para el botón x5 */
    width: 40px;
    height: 40px; /* Ancho fijo para el botón x5 */
    text-align: center; /* Centrar el texto del botón x5 */
    background-color: #d4b048; /* Opcional: color de fondo del botón x5 */
}

.alcohol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Dos columnas */
    grid-template-rows: repeat(6, auto);    /* Seis filas automáticas */
    gap: 10px; /* Espacio entre las filas y columnas */
}


.alcohol h2, .non-alcohol h2, .food h2, .cocktails h2, .special h2 {
    color: white;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
    grid-column: span 2;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

button {
    padding: 10px;
    background-color: #E5C750;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #202020;
    font-size: 16px;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    box-shadow: var(--shadow);
    transition: 0.1s ease-in-out;
}

button:active{
    box-shadow: none;
}

button:hover {
    background-color: #d4b048;
}

.businesses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
    width: 80%;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;
}

.businesses div {
    background-color: #4f4f4f;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.businesses h1 {
    color: #E5C750;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 2px 2px 2px black;
}

.businesses p {
    color: white;
    margin: 5px 0;
    font-family: "Oswald", sans-serif;
    text-shadow: var(--shadow-small);
}

.sections-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

::-webkit-scrollbar{
    width: 0.6rem;
    background-color: #3c3c3c;
    border-radius: 10px
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #d4b048 0%, #735a10 100%);
    border-radius: 10px;
}

.restart{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


@media (768px <= width <= 968px) {

    .header {
        display: flex;
        justify-content: space-between;
    }

    .header img {
        width: 100%;
        display: block;
        margin: 0px;
    }

    .logo {
        display: block;
        max-width: 20%;
    }

    button {
        font-size: 0.8rem;
    }

    .x5 {
        height: 30px;
        font-size: 1rem;
    }

    .header {
        width: 90%;
    }

    #display {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

    }

    #calculator {
        display: grid;
        width: 95%;
    }

    #product-list {
        width: 15rem;
        height: 7rem;
    }



    .non-alcohol, .food, .cocktails{
        display: grid;
        grid-template-columns: 1fr; /* Una columna para el título */
        text-align: center; /* Centra el contenido del título */
    }

    .non-alcohol .title, .food .title, .cocktails .title {
        grid-column: 1 / -1; /* El título ocupa toda la columna */
    }

    .sections-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para Non-Alcohol y Food */
        gap: 1rem; /* Espacio entre las columnas y secciones */
        justify-items: center; /* Centra las secciones en la columna */
        width: 100%;
    }

    .non-alcohol, .food {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  /* Dos columnas para cada sección */
        grid-template-rows: repeat(3, auto);    /* Filas automáticas */
        gap: 10px; /* Espacio entre los elementos dentro de cada sección */
        width: 90%; /* Asegura que cada sección ocupe el ancho disponible */
    }

    .cocktails{
        grid-column: span 2; /* Hace que Cocktails y Special ocupen las dos columnas */
        display: grid;
        grid-template-columns: repeat(2, 1fr);  /* Dos columnas */
        grid-template-rows: repeat(3, auto);    /* Filas automáticas */
        gap: 10px; /* Espacio entre los elementos dentro de cada sección */
        justify-self: center; /* Centra la sección en su contenedor */
        width: 95%; /* Controla el ancho de las secciones Cocktails y Special */
    }

    .special {
        display: grid;
        grid-column: span 2;
        align-items: center;
        width: 95%; /* Ancho de la sección */
        margin: 0 auto; /* Centrará la sección horizontalmente */
    }
    
    .special .title {
        text-align: center; /* Centra el título horizontalmente */
        width: 100%; /* Asegura que el título ocupe todo el ancho */
    }

    .businesses {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    
    .businesses .ten-discount,
    .businesses .fifteen-discount {
        display: flex;
        flex-direction: column;
    }
    
    .businesses .business-names {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        font-size: 1rem;
    }
    
    .businesses .business-names p {
        flex-basis: 25%; /* Cada elemento ocupa el 50% del contenedor, garantizando 2 columnas */
        box-sizing: border-box; /* Asegura que padding y border no afecten el ancho total */
        margin: 0; /* Elimina márgenes si es necesario */
        
    }
    .x5 {
        padding: 5px;
        font-size: 1rem; /* Tamaño de fuente más pequeño para el botón x5 */
        width: 40px;
        height: 40px; /* Ancho fijo para el botón x5 */
        text-align: center; /* Centrar el texto del botón x5 */
        background-color: #d4b048; /* Opcional: color de fondo del botón x5 */
    }
}

@media (min-width: 968px) and (max-width: 1368px) {
    .header {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .header img {
        width: 12rem;
        justify-content: center;
        align-items: center;
    }

    #calculator {
        max-width: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem; /* Añade espacio entre las secciones */
    }

    #display {
        background-color: #4f4f4f;
        padding: 10px;
        border-radius: 10px;
        font-size: 0.8rem;
        margin-bottom: 10px;
        width: 25rem;
        height: fit-content;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5rem;
        grid-template-rows: repeat(2, auto);
        box-shadow: var(--shadow);
    }

    

    .alcohol {
        display: grid;
        grid-template-columns: repeat(6, 1fr);  /* Seis columnas */
        grid-template-rows: repeat(2, auto);    /* Dos filas automáticas */
        gap: 0.4rem; /* Espacio entre las filas y columnas */
        padding: 1rem;
    }



    button{
        font-size: 60px;
        padding: 0.2rem;
    }
    .x5 {
        padding: 3px;
        font-size: 12px; /* Tamaño de fuente más pequeño para el botón x5 */
        width: 25px;
        height: 25px; /* Ancho fijo para el botón x5 */
        text-align: center; /* Centrar el texto del botón x5 */
        background-color: #d4b048; /* Opcional: color de fondo del botón x5 */
    }

    .non-alcohol, .food, .cocktails {
        display: grid;
        grid-template-columns: repeat(2, 1fr);  /* Tres columnas */
        grid-template-rows: repeat(3, 1fr);    /* Dos filas automáticas */
        gap: 0.4rem; /* Espacio entre las filas y columnas */
        padding: 1rem;
    }
    .alcohol h2, .non-alcohol h2, .food h2, .cocktails h2, .special h2 {
        color: white;
        margin-bottom: 10px;
        font-family: "Bebas Neue", sans-serif;
        grid-column: span 2;
        text-shadow: 2px 2px 2px black;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .alcohol h2{
        grid-column: span 6;
    }
    
    .non-alcohol, .food, .cocktails {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0.3rem;
        padding: 1rem;
        flex: 1;
    }

    .special {
        padding-top: 1rem;
    }

    .sections-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);  /* Cuatro columnas */
        gap: 1rem; /* Espacio entre columnas */
    }

    .businesses {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 1rem;
        width: 90%;
        box-shadow: var(--shadow);
        margin-bottom: 1rem;
    }
    
    .businesses div {
        background-color: #4f4f4f;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 0.5rem;
        padding: 10px;
        border-radius: 10px;
        align-items: center;
    }
    
    .businesses h1 {
        color: #E5C750;
        margin-bottom: 10px;
        font-size: 1.1rem;
        font-family: "Bebas Neue", sans-serif;
        text-shadow: 2px 2px 2px black;
    }
    
    .businesses p {
        color: white;
        margin: 5px 0;
        font-size: 1rem;
        font-family: "Oswald", sans-serif;
        text-shadow: var(--shadow-small);
    }

    .title{
        display: flex;
        width: 100%;
        justify-content: center;
        grid-column: span 2;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    button {
        font-size: 0.65rem;
    }

    .x5 {
        height: 20px;
        font-size: 10px;
    }
}
@media (380px <= width <= 430px ){
    .header {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .header img{
        width: 10rem;
        justify-content: center;
        align-items: center;
        
    }
    
    #calculator {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem; /* Añade espacio entre las secciones */
    }
    
    #display {
        background-color: #4f4f4f;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        width: 95%;
        height: fit-content;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 3px;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
        grid-template-rows: repeat(1,auto);
        box-shadow: var(--shadow);
    
    }
    
    #display p {
        color: #E5C750;
        font-family: "Bebas Neue", sans-serif;
        text-shadow: var(--shadow-small);
    }
    
    #display span {
        color: white;
        font-family: "Oswald", sans-serif;
        text-shadow: var(--shadow-small);
    }
    
    #product-list {
        background-color: #4f4f4f;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 5px;
        width: 20rem;
        margin-right: 1rem;
        height: 8rem;
        display: grid;
        grid-template-columns: 1fr; /* Una columna para el título */
        grid-template-rows: auto 1fr; /* Auto para el título, 1fr para los productos */
        box-shadow: var(--shadow);
        margin-left: 1rem;
        justify-content: space-between;
        overflow-y: auto; /* Habilitar desplazamiento vertical */
        text-align: start; /* Centrar el texto del título */
        
    }
    
    #product-list h1 {
        color: #E5C750;
        font-family: "Bebas Neue", sans-serif;
        font-size: 1.1rem;
        margin-bottom: 0.2rem; /* Añadir margen debajo del título */
        text-align: center; /* Asegurar que el título esté centrado */
        flex-shrink: 0; /* Prevenir que el h1 se reduzca */
        text-shadow: var(--shadow-small);
    }
    
    #product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
        gap: 10px; /* Espacio entre los elementos de la cuadrícula */
      }
    
    #product-container p {
        font-size: 0.7rem;
        color: white;
        font-family: "Oswald", sans-serif;
        flex-shrink: 0; /* Prevenir que los párrafos se reduzcan */
        text-align: left; /* Alineación a la izquierda para los productos */
        text-shadow: var(--shadow);
        padding: 0;
        margin: 0;
    }

    .sections-container {
        display: flex;
        flex-direction: column;
        width: 23rem;
    }


    .alcohol, .non-alcohol, .food, .cocktails, .special {
        background-color: #3c3c3c;
        padding: 0;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; /* Añade espacio entre los botones */
        width: 100%;
        box-shadow: var(--shadow);
        padding-bottom: 1rem;
    }
    
    /* Estilo para el contenedor del producto y el botón x5 */
    .product {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        gap: 5px; /* Espacio entre el producto y el botón x5 */
        margin-bottom: 10px; /* Espacio debajo de cada producto */
    }
    
    .special {
        padding-bottom: 1rem;
        height: 100%;
    }

    .special button {
        width: 90%;

    }

    .businesses {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    
    .businesses .ten-discount,
    .businesses .fifteen-discount {
        display: flex;
        flex-direction: column;
    }
    
    .businesses .business-names {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        font-size: 0.8rem;
    }
    
    .businesses .business-names p {
        flex-basis: 30%; /* Cada elemento ocupa el 50% del contenedor, garantizando 2 columnas */
        box-sizing: border-box; /* Asegura que padding y border no afecten el ancho total */
        margin: 0; /* Elimina márgenes si es necesario */
        
    }
    .x5 {
        padding: 5px;
        font-size: 1rem; /* Tamaño de fuente más pequeño para el botón x5 */
        width: 40px;
        height: 40px; /* Ancho fijo para el botón x5 */
        text-align: center; /* Centrar el texto del botón x5 */
        background-color: #d4b048; /* Opcional: color de fondo del botón x5 */
    }
    
    
    .alcohol h2, .non-alcohol h2, .food h2, .cocktails h2, .special h2 {
        color: white;
        margin-bottom: 10px;
        font-family: "Bebas Neue", sans-serif;
        grid-column: span 2;
        text-shadow: 2px 2px 2px black;
        text-align: center;
    }
    
}
